aside {
    width: 25%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .hand__invert{
        margin: 3% 0% 3% 8%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .face-expressions, .hand-expressions{
        .btn--selected{
            filter: brightness(.5);
        }
    }

    .face-expressions{
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 3% 5% 0% 5%;
    }

    .hand-expressions{
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 3% 5% 3%% 5%;
    }

    button{
        height: 25px;
        width: 25px;
        // border: none;
        cursor: pointer;
    }
   

    @media (max-width: 768px) {
        width: 100%;
        height: 45vh;
        // align-items: flex-start;
        
    }

    .nav-main{

        max-height: 95%;
        height: auto;
        width: 90%;
        background-color: white;
        border-radius: 10px;
        overflow-y: auto;
        overflow-x: hidden;
        transition: all 0.4s;

        @media (max-width: 768px) {
            max-height: 85%;
        }
        

        &::-webkit-scrollbar{
            width: 5px;
            border-radius: 20px; 
        }

        &::-webkit-scrollbar-track {
            // background: transparent;
            border-radius: 20px; 
            
        }

        &::-webkit-scrollbar-track-piece {
            // background: #aaa;
            max-height: 50%;
            margin-top: 10px;

            &:start{
                margin-top: 10px;
            }
            &:end{
                margin-bottom: 10px;
            }
            
        }
        &::-webkit-scrollbar-thumb {
            background: rgb(137, 118, 146);
            border-radius: 20px; 
        }
    }
}

.sanfona{
    width: 100%;
    height: fit-content;
    
    
    &__header{

        width: 100%;
        height: 40px;
        border-bottom: 1px solid rgb(192, 192, 192);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
        position: relative;
        cursor: pointer;
        user-select: none;
        color: var(--secondary);

        &::after{
            content: '\f107';
            color: var(--secondary);
            font-family: "Font Awesome 5 Free";
            font-size: 1rem;
            position: absolute;
            right: 1rem;
        }

        &::before{
            color: var(--secondary);
            font-family: "Font Awesome 5 Free";
            font-size: 1.3rem;
            position: absolute;
            left: 1.5rem;
            font-weight: 600;
        }

        &[boneType="arm"]{
           &::before{
            content: '\f256';
           }
        }

        &[boneType="leg"]{
            &::before{
             content: '\f54b';
            }
         }

         &[boneType="head"]{
            &::before{
             content: '\f582';
            }
         }

         &[boneType="body"]{
            &::before{
             content: '\f183';
            }
         }
    }

    &__content{

        padding: 3% 0% 5% 0%;
        border-bottom: 1px solid rgb(218, 218, 218);
        // background-color: #efefef;
       

        h4{
            margin-left: 1.5rem;
            color: rgb(163, 163, 163);
            width: 100%;
            display: flex;
            align-items: center;
            // border-bottom: 1px dashed rgb(197, 197, 197);

            &::before{
                color: rgb(163, 163, 163);
                font-family: "Font Awesome 5 Free";
                font-size: 1.2rem;
                margin-right: 1rem;

            }

            &[side=L]{

                &::before{
                    content: '\f191';
                }

            }

            &[side=R]{

                &::before{
                    content: '\f152';
                }

            }


        }

        .bone-controller{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 30px;
            position: relative;

            &::after{
                content: '\f5d7';
                color: var(--secondary);
                font-family: "Font Awesome 5 Free";
                font-size: 1rem;
                position: absolute;
                left: 1.5rem;
                font-weight: 600;
            }

            p{
                width: 50%;
                display: flex;
                justify-content: flex-start;
                padding-left: 20%;
                font-size: 0.9rem;
            }
            span{
                font-size: 0.8rem;
                margin-left: 0.5rem;
                color: rgb(129, 129, 129);
            }

            input[type="range"]{
                -webkit-appearance: none;
                appearance: none;
                width: 30%;
                display: flex;
                justify-content: flex-start;
                background-color: rgb(184, 184, 184);
                height: 5px;
                border-radius: 25px;
                

                &::-webkit-slider-thumb{
                    -webkit-appearance: none; /* Override default look */
                    appearance: none;
                    width: 15px; 
                    height: 15px; 
                    border-radius: 25px;
                    background-color: var(--secondary);
                    cursor: pointer; 
                }
            }
        }
    }
}